.NavigationItem{
    list-style: none;
}
.NavigationItem a{
    color: white;
    text-decoration: none;
    font-weight: 500;
   
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active{
    border-bottom: 2px solid white;
}
